body {
  position: relative;
  width: 19cm;
  height: 26.7cm;
  margin: 0 auto;
  color: #555555;
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  margin: -8px;
}
#logo{
  margin-top: -15px;
  width:21cm;
  height: 3cm;
}
#img{
  border: 1px solid #fff;
  border-radius: 5px;
  width:19cm;
  float: left;
}
#header{
  margin-top: 20px;
  padding: 10px 0px;
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  border-radius: 5px;
  width: 19cm;
  height: 75px;
}
#center{
  padding-left: 10px;
  display: inline-block;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  width: 9.5cm;
  float: left;
}
#teacher{
  display: inline-block;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  width: 7.5cm;
  float: left;
}
#roleplay{
  margin-top: 10px;
  padding: 10px 0px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 19cm;
  background-color: #f9f9f9;
}
#name{
  margin:0 10px;
  padding: 5px;
  height: 25px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #F0F0F0;
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
#body{
  padding: 5px;
  margin: 10px 20px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #F0F0F0;
  box-shadow: 4px 4px 9px rgba(0,0,0,.3);
}
#spn
{
    display: block;
    padding: 2px;
    margin: 2px;
    border: 1px solid #3FBBA1;
    border-radius: 5px;
    background-color: #3FBBA1;
}
#br
{
    color: #3FBBA1;
    margin: 2px;
}
